/* Cancel.css */

.cancel {
    text-align: center;
    padding: 50px; 
  }
  
  .cancel h1 {
    color: red;
    font-size: 36px;
  }
  
  .cancel p {
    font-size: 18px;
    color: #333;
  }
  
  .cancel button {
    width: 12%;
    padding: 11px;
    background-color: #5e5e5e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
  }
  
  .cancel button:hover {
    background-color: #858383;
  }