/* .shop-more button{
    border-color: blue;
     border: 'none';
     background-color: 'transparent';
     margin-right: '10px';
     
}

.checkout button{
    border: 'none';
    background-color: 'transparent' 
} */
/* button{
    border-color: blue;
    border: 'none';
    background-color: 'transparent';
    margin-right: '10px';
} */