
  .cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
  }
  
  .product-card {
    flex: 0 0 20%;
    padding: 10px;
  
    img {
      width: 20%; 
      height: auto;
    }
  }
  /* .product-card img {
    width: 25%;
    height: auto; 
  } */
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 40px
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  button{
    width: 110px;
    padding: 10px;
    margin: 0 auto;
    margin-top: auto; 
  }
  .product-card h3 {
    font-size: 15px;
    font-weight: 100;
  } 
  
  .product-card h4 {
    margin-top: 0;
    font-size: medium;
    font-weight: 100;
    margin-right: 188px;
  }

  .product-card p {
    margin-top: 0;
    font-size: 12px;
    font-weight: 80;
  }
  .add-to-cart{
    border-radius: 0;
    border-style: none;
  }

  .men-section{
    font-size: 4rem;
  }

 button:hover {
    background-color: #cccccc;
  }