.loginPage {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .loginPage h1 {

    text-align: center;
    margin-bottom: 20px; 
  }
  .loginPage h2 {

    text-align: center;
    margin-bottom: 20px; 
  }
  
  .loginPage label {
    display: block;
    margin-bottom: 5px;
  }
  
  .loginPage input[type="text"],
  .loginPage input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px; 
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .loginPage button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
  }
  
  .loginPage button[type="submit"]:hover {
    background-color:  rgb(161, 160, 160);
  }
  