.registrationPage {
    max-width: 400px;
    margin: 0px auto;
    padding: 0rem;
    border: none;
    border-radius: 5px;
  }
  
  .registrationPage h1 {
    text-align: center;
    margin-bottom: 2px;
  }
  
  .registrationPage label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .registrationPage input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem; 
  }
  
  .registrationPage button {
    width: 100%;
    padding: 1rem;
    background-color:#5e5e5e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registrationPage button:hover {
    background-color: #5e5e5e;
  }
  
  .registrationPage a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #5e5e5e;
  }
  